<div class="mb-4">
  <label for="budgetPreferences" class="form-label">Budget Preferences:</label>
  <div id="budgetPreferences">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="budgetPreferences"
      id="below20lakhs" value="below-20-lakhs" <%= formData.budgetPreferences &&
      formData.budgetPreferences.includes('below-20-lakhs') ? 'checked' : '' %>
      />
      <label class="form-check-label" for="below20lakhs">
        Below 20 Lakhs
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="budgetPreferences"
      id="20lakhsto1crore" value="20-lakhs-to-1-crore" <%=
      formData.budgetPreferences &&
      formData.budgetPreferences.includes('20-lakhs-to-1-crore') ? 'checked' :
      '' %> />
      <label class="form-check-label" for="20lakhsto1crore">
        20 Lakhs to 1 Crore
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="budgetPreferences"
      id="above1crore" value="above-1-crore" <%= formData.budgetPreferences &&
      formData.budgetPreferences.includes('above-1-crore') ? 'checked' : '' %>
      />
      <label class="form-check-label" for="above1crore"> Above 1 Crore </label>
    </div>
  </div>
</div>
