<% layout("layout/boilerplate") %>
<form action="/documents" method="POST" enctype="multipart/form-data">
  <input type="file" name="documents" id="documents" multiple />
  <button>Submit</button>
</form>
