<% layout("layout/boilerplate") %> <% if(alert && alert.length) {%>
<div class="alert alert-warning" role="alert"><%=alert %></div>
<% } %> <% if(error && error.length) {%>
<div class="alert alert-warning" role="alert"><%=error %></div>
<% } %> <% if(success && success.length) {%>
<div class="alert alert-success"><%=success %></div>
<% } %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-4">Login</h1>
      <form action="/login" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            required
            minlength="8"
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
        <a href="/password-reset/request-otp">Forgot Password ?</a>
      </form>
      <div class="text-center mt-3">
        <p>Don't have an account? <a href="/register">Register here</a></p>
      </div>
    </div>
  </div>
</div>
