<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vyvsai</title>
    <link
      rel="icon"
      href="/images/titlebar.png"
      type="image/x-icon"
      class="title-logo"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    @media (max-width: 768px) {
      body {
        font-size: 0.8em;
      }

      h1 {
        font-size: 1.75rem;
      }

      table {
        font-size: 0.85em;
      }

      .table-responsive {
        overflow-x: auto;
      }
    }
  </style>
  <body class="d-flex flex-column vh-100 bg-light">
    <%-include("../partials/navbar") %> <%-include("../partials/flash") %>
    <main><%-body %></main>
    <%-include("../partials/footer") %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="/js/formValidation.js"></script>
    <script src="/js/cardVisibility.js"></script>
  </body>
</html>
